<h1>My Teams</h1>

<% user = User.find(session[:user_id]) %>
<% if user %>
	<% user.teams.each do |team| %>
		<%= link_to team.name, "/teams/view/" + team.id.to_s %>
		<br/>
	<% end %>

	<div class="background-well">

		<%= link_to "Create New Team", "/teams/new", class: "btn btn-primary" %>
		<%= link_to "Join Team", "/teams/join", class: "btn btn-primary" %>

	</div>

<% else %>
	You must be logged in to view teams.
<% end %>
