<% content_for :title, "Users" %>
<% if session[:user] %>
	<%= link_to 'Create New Post', new_post_path %>
	<br>
	<%= link_to 'View All Posts', posts_path %>
<% end %>
<a class="button_link" href="new">Create New Account</a>
<a class="button_link" href="login">Login</a>