<% content_for :title, "Users" %>
<div class="background-well">
<% if session[:user] %>
<div class="btn-group-vertical center-block" role="group">
	<%= link_to "Create New Post", "/posts/new", class: "btn btn-primary", style:"margin-bottom:5px"%>
	<%= link_to "View My Workouts", "/posts/index", class: "btn btn-primary" , style:"margin-bottom:5px"%>
	<%= link_to "View My Teams", "/", class: "btn btn-primary" , style:"margin-bottom:5px"%>
	<%= link_to "Sign Out", "/users/logout", class: "btn btn-primary"%>
</div>
<% else %>
	<a class="button_link" href="new">Create New Account</a>
	<a class="button_link" href="login">Login</a>
<% end %>
</div>