
<% if @first_user %>
  <div class="simple-calendar xscroll">


    <table class="table table-striped calendar-table">
      <thead>
        <tr>
          <th class="calendar-header"></th>
          <% date_range.slice(0, 7).each do |day| %>
            <th class="calendar-header"><%= I18n.t("date.abbr_day_names")[day.wday]  %> 
               <%= day.strftime("%m/%d") %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
<% end %>

      <% date_range.each_slice(7) do |week| %>
        <tr class="calendar-row">
          <td class="calendar-name-box"> <%= @user_name %> </td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>

<% if @last_user %>
      </tbody>
    </table>
  </div>
<% end %>
