/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
    background-color: #96cbc7;
}

@media screen and (max-width: 600px) {
	.resizable {
		font-size: 7vw
	}
}
@media screen and (min-width: 600px) {
	.resizable {
		font-size: 300%
	}
}

.background-well {
	border-radius: 25px;
	padding: 20px;
	margin: 10px;
    background: rgb(237,237,237);
}

.calendar-background-well {
	border-radius: 25px;
	padding: 10px;
    background: rgb(237,237,237);
}

@media screen and (max-width: 600px) {
	.calendar-background-well {
		margin: -5px;
		margin-bottom: 5px;
		padding: 10px;
	}
}

@media screen and (min-width: 600px) {
	.calendar-background-well {
		margin: 10px;
		padding: 20px;
	}
}

.day {
	border: 3px solid black;
}

.table-wrapper { 
    overflow-x:scroll;
}

@media screen and (max-width: 415px) {
	.calendar-table {
		width: 330%;
		max-width: none;
		table-layout: fixed;
	}
}

@media screen and (min-width: 415px) and (max-width: 1000px) {
	.calendar-table {
		width: 200%;
		max-width: none;
		table-layout: fixed;
	}
}

@media screen and (min-width: 1000px) {
	.calendar-table {
		width: 99%;
		max-width: none;
		table-layout: fixed;
	}
}	

.table>thead>tr>th.calendar-header {
	border-bottom: 3px solid black;
}

.calendar-name-box {
	border: 3px solid black;
}

.next-month {
	color: rgb(180,180,180) 
}

.prev-month {
	color: rgb(180,180,180) 
}

.thead {
	border-bottom: black;
}

.xscroll {
	overflow-x:scroll;
}

.calendar-row {
	height: 50px
}

div.wrap-text {
    white-space: pre-wrap;
}