// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align:center;
    padding-top:calc(50% - 30px);
}
.post-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #96cbc7;
    margin: 1em 0;
    padding: 0; 
}
.spinner-padding {
    padding: 0px 40px 0px 40px;
    
    .col-xs-12 {
        margin: 10px 0px 20px 0px;
    }

    .glyphicon {
        color: #428bca;
    }
}
h4.input-field-header {
    margin-top: 2px;
    margin-left: 2px;
    color: #428bca;
}
.input-field>.glyphicon {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 2em;
    color: #428bca;
}
.input-field {
    display: inline;
}

label.isSelected {
  background-color: lightblue;
}

.check-label {
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: white;
  border-radius: 7px;
}

@media screen and (min-width: 600px) {
    .check-label:hover {
        background-color: lightgrey;
        cursor: pointer;
    }
}

#visibility-button {
    text-overflow: ellipsis;
    overflow:hidden;
    display:block;
    width:100%;
}

.search-span {
    padding-right:5px;
}

.search-input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 600px) {
    .search-span {
        float: right;
    }
}
@media screen and (min-width: 600px) {
    .edit-exercise-entry:hover {
        cursor: pointer;
    }

    .choose-exercise:hover {
        cursor: pointer;
    }

    #new_exercise_link:hover {
        cursor: pointer;
    }
}

.edit-exercise-entry {
    cursor: pointer;
}

.exercise-name {
    cursor: pointer;
}