// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align:center;
    padding-top:calc(50% - 30px);
}
.post-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #96cbc7;
    margin: 1em 0;
    padding: 0; 
}
.border {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.exercise-input-padding {
    padding: 20px;
}
h4.input-field-header {
    margin-top: 2px;
    margin-left: 2px;
    color: #428bca;
}
.input-field>.glyphicon {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 2em;
    color: #428bca;
}
.input-field {
    display: inline;
}