// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align:center;
    padding-top:calc(50% - 30px);
}
.post-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #96cbc7;
    margin: 1em 0;
    padding: 0; 
}